@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}

:root {
  --ui-light: #dbe4fb;
  --ui-primary: #9780d6;
  --ui-secondary: #d1d4f7;
  --ui-accent: #c69daf;
  --ui-lighter: #efeffb;
  --ui-accent-2: #f59474;

}

html, body {
  height: 100%;
}

.gradient-card {
  background: linear-gradient(135deg, #9780d6 0%, #efeffb 100%);
}

.gradient-card:hover {
  background: linear-gradient(135deg, #efeffb 0%, #9780d6 100%);
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}