@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}

:root {
  --ui-light: #dbe4fb;
  --ui-primary: #9780d6;
  --ui-secondary: #d1d4f7;
  --ui-accent: #c69daf;
  --ui-lighter: #efeffb;
  --ui-accent-2: #f59474;

}

html, body {
  height: 100%;
}

/* .gradient-card {
  @apply relative overflow-hidden transition-all duration-300;
  background: linear-gradient(135deg, #6366f1 0%, #a855f7 100%);
}

.gradient-card:hover {
  background: linear-gradient(135deg, #a855f7 0%, #6366f1 100%);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  display: flex;
  position: relative;
} */